.slide-splash
  background-image url('../img/slides/DaemonInitFlow_Splash.png')

.slide-newaccount
  background-image url('../img/slides/DaemonInitFlow_NewAccount.png')

  > .go
    top: 340px;
    left: 290px;
    width: 200px;

  > .gear
    bottom 10px
    right 10px


.slide-auth_googleplay 
  background-image url('../img/slides/DaemonInitFlow_AuthGooglePlay.png')

  > .yes 
    top: 375px;
    right: 110px;
    width: 200px;

  > .no
    top: 375px;
    left: 160px;
    width: 200px; 

.slide-auth_gamecenter 
  background-image url('../img/slides/DaemonInitFlow_AuthGamecenter.png')

  > .yes 
    top: 375px;
    right: 110px;
    width: 200px;

  > .no
    top: 375px;
    left: 160px;
    width: 200px;

.slide-auth_facebook
  background-image url('../img/slides/DaemonInitFlow_AuthFacebook.png')

  > .yes 
    top: 375px;
    right: 110px;
    width: 200px;

  > .no
    top: 375px;
    left: 160px;
    width: 200px;

.slide-retrieve_android
  background-image url('../img/slides/DaemonInitFlow_RetrieveAndroid.png')

  > .android
    top: 170px;
    height: 160px;
    left: 280px;
    width: 210px;

  > .facebook
    top: 394px;
    left: 133px;
    width: 500px;

.slide-retrieve_ios
  background-image url('../img/slides/DaemonInitFlow_RetrieveiOS.png')

  > .ios
    top: 170px;
    height: 160px;
    left: 340px;
    width: 140px;

  > .facebook
    top: 394px;
    left: 133px;
    width: 500px;

.slide-game
  background-image url('../img/slides/DaemonInitFlow_Game.png')

  > .startover
    bottom 0px
    width 180px

  > .gear
    bottom 0px
    right 0px
    width 130px

.slide-config
  padding 100px