*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.group {
  float: left;
  width: 100%;
}
#log {
  float: left;
  color: #ccc;
}
#log >li:first-child {
  color: #000;
}
slides {
  display: block;
  position: relative;
  float: left;
}
slides slide {
  position: absolute;
  display: block;
}
slide {
  background: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
slide div {
  position: absolute;
  display: block;
  height: 100px;
  width: 100px;
}
slide div.test {
  background: rgba(255,0,0,0.3);
}
.full-slide {
  width: 100%;
  height: 100%;
  display: block;
}
.click {
  cursor: pointer;
}
.ipad.landscape {
  background: url("../img/ipad-landscape.png") top center no-repeat;
  height: 758px;
  width: 980px;
}
.ipad.landscape slide {
  height: 583px;
  width: 775px;
  top: 44px;
  left: 106px;
  border-radius: 3px;
}
.slide-splash {
  background-image: url("../img/slides/DaemonInitFlow_Splash.png");
}
.slide-newaccount {
  background-image: url("../img/slides/DaemonInitFlow_NewAccount.png");
}
.slide-newaccount > .go {
  top: 340px;
  left: 290px;
  width: 200px;
}
.slide-newaccount > .gear {
  bottom: 10px;
  right: 10px;
}
.slide-auth_googleplay {
  background-image: url("../img/slides/DaemonInitFlow_AuthGooglePlay.png");
}
.slide-auth_googleplay > .yes {
  top: 375px;
  right: 110px;
  width: 200px;
}
.slide-auth_googleplay > .no {
  top: 375px;
  left: 160px;
  width: 200px;
}
.slide-auth_gamecenter {
  background-image: url("../img/slides/DaemonInitFlow_AuthGamecenter.png");
}
.slide-auth_gamecenter > .yes {
  top: 375px;
  right: 110px;
  width: 200px;
}
.slide-auth_gamecenter > .no {
  top: 375px;
  left: 160px;
  width: 200px;
}
.slide-auth_facebook {
  background-image: url("../img/slides/DaemonInitFlow_AuthFacebook.png");
}
.slide-auth_facebook > .yes {
  top: 375px;
  right: 110px;
  width: 200px;
}
.slide-auth_facebook > .no {
  top: 375px;
  left: 160px;
  width: 200px;
}
.slide-retrieve_android {
  background-image: url("../img/slides/DaemonInitFlow_RetrieveAndroid.png");
}
.slide-retrieve_android > .android {
  top: 170px;
  height: 160px;
  left: 280px;
  width: 210px;
}
.slide-retrieve_android > .facebook {
  top: 394px;
  left: 133px;
  width: 500px;
}
.slide-retrieve_ios {
  background-image: url("../img/slides/DaemonInitFlow_RetrieveiOS.png");
}
.slide-retrieve_ios > .ios {
  top: 170px;
  height: 160px;
  left: 340px;
  width: 140px;
}
.slide-retrieve_ios > .facebook {
  top: 394px;
  left: 133px;
  width: 500px;
}
.slide-game {
  background-image: url("../img/slides/DaemonInitFlow_Game.png");
}
.slide-game > .startover {
  bottom: 0px;
  width: 180px;
}
.slide-game > .gear {
  bottom: 0px;
  right: 0px;
  width: 130px;
}
.slide-config {
  padding: 100px;
}
#wrapper {
  float: left;
  width: 100%;
}
#jsonInput,
#jsonOutput {
  width: 500px;
  height: 70%;
  float: left;
  margin: 20px;
}
.json-explorer {
  background: #eee;
  padding: 20px;
  border: 1px solid #c0c0c0;
  display: block;
  float: left;
  margin-bottom: 100px;
}
.json-explorer ul {
  list-style-type: none;
  margin: 0px;
  font-size: 18px;
}
.json-explorer li {
  position: relative;
  line-height: 20px;
}
.json-explorer li:before {
  content: '\2022';
  position: absolute;
  left: -15px;
  width: 100%;
}
.json-explorer li.parent {
  cursor: pointer;
}
.json-explorer li.parent:before {
  content: '\25B6';
  font-size: 0.5em;
  display: block;
  cursor: pointer;
}
.json-explorer li.parent.expanded:before {
  content: '\25BC';
}
.json-explorer li.parent > ul {
  display: none;
  cursor: auto;
}
.json-explorer li.parent.expanded > ul {
  display: block;
}
.json-explorer .key {
  color: #334d5c;
}
.json-explorer .value {
  color: #45b29d;
}
